.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  cursor: pointer;
  margin: 2px;
}
#Output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#resest-button {
  font-size: 20px;
}

body {
  background-color: ;
}

.level {
  background-color: #50fa7b;
  border: 10px;
  color: black;
  font-size: 20px;
  text-align: justify;
  opacity: 0.6;
  transition: 0.3s;
  padding: 8px 16px;
  margin: 2px;
}

.level:hover {
  opacity: 1s;
}
